/* .TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  } */

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 20px;
  width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 8px;
}

li p {  
  margin: 0;
  padding: 0; 
}

li .Icon-check--active {
  color: #4caf50;
}

li .TodoItem-p--complete {
  text-decoration: line-through;
}

li .Icon-delete:hover {
  color: red;
}
